[submodule "matrix"]
	path = matrix
	url = https://github.com/hzeller/rpi-rgb-led-matrix.git
[submodule "pixelpusher"]
	path = pixelpusher
	url = https://github.com/hzeller/rpi-matrix-pixelpusher.git
[submodule "pixelpusher-python"]
	path = pixelpusher-python
	url = https://github.com/robot-head/PixelPusher-python.git
